
body {
	font-size: 17px;
	font-family: 'Calibri', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

div, p, img, ul, li {
	box-sizing: border-box;		
}

h1 {
	text-shadow: 0 3px 5px #A4A4A4;
}

/** {border: 1px red solid}*/

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.created {
	padding: 20px 0;
	margin-bottom: 20px;
	background: #CEF6E3;
}

.container {
	width: 800px;
	margin: 0 auto;
	padding: 20px 0;
}

/*offer============*/

.offer_logo1 {
	float: left;

	/*margin-right: 80px;*/
}
.offer_title {
	float: left;
	/*margin-left: 100px;*/
}
.offer_logo2 {

	float: right;
	margin-top: 40px;
}

.offers {
	/*display: block;*/
	margin: 20px auto 20px auto;
}
/*.offers hr {
	width: 30%;
}*/

/*presents============*/

.presents .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.presents hr {
	width: 50%;
}

.pres3 {
	width: 240px;
	margin-bottom: 40px;
}

.pres3 img {
	width: 230px;
	height: 230px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 20px black, inset 0 0 50px 10px black;
	/*margin-bottom: 20px;*/
}

.pres3 img:hover {
	opacity: 0.7;
	transition: opacity .3s ease-in-out;
}

/*list============*/

.list {
	background-color: #CEF6E3; 
}
.list_title {
	margin-bottom: 40px;
}
.list ul {
	text-align: left;
	list-style-image: url(img/galk.png);
    line-height: 24px;
}

.list img {
	float: right;
	margin: 10px;
	box-shadow: 0 0 10px black;
	border-radius: 5px
}


/*speakers============*/

.speakers {
	background: #E3CEF6;
}

.speakers_flex {
	margin-top: 55px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.speakers_block {
	background: #F8E0F7;
	padding: 20px 10px;
	width: 300px;
	box-shadow: 0 2px 7px black;
	margin-bottom: 40px;
}

.image {
	overflow: hidden;
	width: 190px;
	height: 190px;
	box-shadow: 0 2px 4px black;
	border-radius: 50%;
	margin: 0 auto;
 }

.speakers_block img {
	width: 192px;
	height: 192px;
	/*border: 1px solid red;*/
	transition: transform .3s ease-in-out;
}

.speakers_block img:hover {
	transform: scale(1.1);
}

/*tikets============*/



.tikets_bigorange {
	font-size: 30px;
	color: #FA5858;
	text-transform: uppercase; 
	text-shadow: 0 0 20px #FA5858;
}
span.little {
	text-transform: unset;
}
span.ticket {
	color: #FA5858;
}
.bigchild {
	text-transform: uppercase;
}
table {
	margin-top: 20px;
	text-align: center;
	border-collapse: separate;
	border-spacing: 5px;
	background: #FFFF00;
	color: #000;
	border: 10px solid #FFD700;
	border-radius: 15px;
}
th {
	padding: 10px;
	vertical-align: top;
}
td {
	background: #FFD700;
	padding: 10px;
	border-radius: 10px;
}

.serp {
	border-left: 2px solid #FFD700;
	margin-left: 20px;
	padding-left: 10px;
}

table td:first-child {
	text-align: left;
}

.little {
	font-size: 0.7em;
}

/*comment============*/

#comment {
	background: #FBF5EF;
	
}

.comment img {
	width: 800px;
}

.btn {
	display: block;
	margin: 15px auto;
	padding: 10px;
	width: 300px;
	background: #FFD700;
	border-radius: 100px; 
	cursor: pointer;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

/*footer============*/

footer {
	background: #CEF6E3;
	font-size: 0.8em;
	padding: 20px 0;
}